# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.24.2/CMakeRCCompiler.cmake
CMakeFiles/3.24.2/CMakeSystem.cmake
CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake_install.cmake
CMakeCache.txt
Makefile
lib/CMakeFiles/CMakeDirectoryInformation.cmake
lib/CMakeFiles/progress.marks
lib/CMakeFiles/bmppicture.dir/build.make
lib/CMakeFiles/bmppicture.dir/cmake_clean_target.cmake
lib/CMakeFiles/bmppicture.dir/cmake_clean.cmake
lib/CMakeFiles/bmppicture.dir/compiler_depend.internal
lib/CMakeFiles/bmppicture.dir/compiler_depend.make
lib/CMakeFiles/bmppicture.dir/compiler_depend.ts
lib/CMakeFiles/bmppicture.dir/depend.make
lib/CMakeFiles/bmppicture.dir/DependInfo.cmake
lib/CMakeFiles/bmppicture.dir/flags.make
lib/CMakeFiles/bmppicture.dir/link.txt
lib/CMakeFiles/bmppicture.dir/progress.make
lib/CMakeFiles/sandpile.dir/build.make
lib/CMakeFiles/sandpile.dir/cmake_clean_target.cmake
lib/CMakeFiles/sandpile.dir/cmake_clean.cmake
lib/CMakeFiles/sandpile.dir/compiler_depend.internal
lib/CMakeFiles/sandpile.dir/compiler_depend.make
lib/CMakeFiles/sandpile.dir/compiler_depend.ts
lib/CMakeFiles/sandpile.dir/depend.make
lib/CMakeFiles/sandpile.dir/DependInfo.cmake
lib/CMakeFiles/sandpile.dir/flags.make
lib/CMakeFiles/sandpile.dir/link.txt
lib/CMakeFiles/sandpile.dir/progress.make
bin/CMakeFiles/CMakeDirectoryInformation.cmake
bin/CMakeFiles/progress.marks
bin/CMakeFiles/Labwork3.dir/build.make
bin/CMakeFiles/Labwork3.dir/cmake_clean.cmake
bin/CMakeFiles/Labwork3.dir/compiler_depend.internal
bin/CMakeFiles/Labwork3.dir/compiler_depend.make
bin/CMakeFiles/Labwork3.dir/compiler_depend.ts
bin/CMakeFiles/Labwork3.dir/depend.make
bin/CMakeFiles/Labwork3.dir/DependInfo.cmake
bin/CMakeFiles/Labwork3.dir/flags.make
bin/CMakeFiles/Labwork3.dir/includes_CXX.rsp
bin/CMakeFiles/Labwork3.dir/link.txt
bin/CMakeFiles/Labwork3.dir/linklibs.rsp
bin/CMakeFiles/Labwork3.dir/objects1.rsp
bin/CMakeFiles/Labwork3.dir/progress.make
